body {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 50%;
    display: block;
    margin: auto;
}

.submit_button {
    color: #ffffff;
    background-color: #0092FF;
}

.alert {
    text-align: center;
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}
